<br>
<h3>Welcome {{strusername}}!</h3>
<br>
<button type="button" class="btn btn-warning" (click)="gobacktouserpage()"> Go back</button>
&nbsp;&nbsp; &nbsp;&nbsp;<a routerLink="/">Log out</a><br>


<h4>Order History</h4>

<table class="table table-striped table-bordered">
    
    <thead>
      <tr>
        <th scope="col">Product</th>
        <th scope="col">Total Paid</th>
        <th scope="col">Address</th>
        <th scope="col">Order#</th>
        <th scope="col">Date</th>
       
        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let o of orders">
        
        <td>{{o.productname}}</td>
        <td>{{o.price}}</td>
        <td>{{o.address}}</td>
        <td>{{o.ordernum}}</td>
        <td>{{o.createdate}}</td>
        
      </tr>
    </tbody>
  </table>